.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard-container h4 {
  margin: 20px 0;
}

.icon-wrapper {
  margin: 30px;
  border-radius: 30px;
  background: #fefefe6c;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
  box-shadow: 6px 6px 16px #0F969B80;
}

.icon-wrapper:hover {
  background: #fefefea8;
}

.icon-wrapper svg {
  color: rgba(15, 150, 155, 0.753);
}

.group-results {
  height: calc(100vh - 70px);
  overflow: hidden;
  overflow-y: scroll;
}