.App {
  font-family: 'Work Sans', sans-serif;
}

.main-content {
  display: flex;
}

.left-10 {
  min-width: 150px;
  height: calc(100vh - 70px);
  overflow: hidden;
  border-radius: 0 30px 30px 0;
  background: linear-gradient(135deg, #24EBAE, #0F969B);
}

.main-90 {
  width: 100%;
  overflow: hidden;
}